body {
  background: url('../img/bg.jpg') repeat scroll center top transparent;
}

/*.img-thumbnail {
  background: transparent;
  border: none;
}*/

.sold-out {
  color: #d12028;
  background: white;
  border-color: #d12028;
  transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
}

.sold-out[disabled] {
  opacity: 1;
}