body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background: #fff;
  font-size: 18px;
  color: #29251f;
}

.debug {
  border: 1px solid black;
}

.fork-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 9999;
}

.header {
  position: absolute;
  right: 0;
  left: 0;
  padding: 40px;
  background: url(../img/bg-header.jpg) repeat scroll center top transparent;
  background-size: cover;
}

.nav-cart {
  margin-top: 250px;
}

.products {
  margin-top: 50px;
}

.products .product {
  margin-bottom: 100px;
}

.product .title {
  text-transform: uppercase;
  font-weight: bold;
}

.product .box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product .price {
  font-size: 1.4rem;
}

.product .amount {
}

.product .btn-add-cart {
  border-radius: 0;
  font-weight: bold;
}

.product .sold-out {
  color: #fff;
  background: #d12028;
  transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
  border-radius: 0;
}

.product .sold-out:hover {
  color: #fff;
}

.product .sold-out[disabled] {
  opacity: 1;
}

.footer {
  text-align: center;
}

.love {
  position: relative;
  top: 2px;
  display: inline-block;
  color: #e74c3c;
  font-size: 1.9rem;
  transform: scale(0.9);
  animation: love 0.5s infinite linear alternate-reverse;
}

@keyframes love {
  to { transform: scale(1.2); }
}

.neon {
  padding: 25px 65px;
  font-family: "Delius Unicase", cursive;
  letter-spacing: 2rem;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #fabbaa;
  font-size: 3rem;
  box-shadow:
  inset 0 0 6px #ba051a,
  inset 0 0 40px rgba(186,5,26, 0.3),
  inset 0 0 100px rgba(186,5,26, 0.5),
  0 0 6px #ba051a,
  0 0 40px rgba(186,5,26, 0.3),
  0 0 100px rgba(186,5,26, 0.5);
  text-shadow:
  0px 0px 5px #318bf7,
  0px 0px 10px #318bf7,
  0px 0px 10px #318bf7,
  0px 0px 80px rgba(49,139,247, 0.6),
  0px 0px 100px rgba(49,139,247, 0.9);
  color: #affcf4;
  border-radius: 55px;
}

.blink {
  display: inline;
  animation: blink 2.6s infinite;
}

@keyframes blink {
  0%   {color: #affcf4;text-shadow:0px 0px 5px #318bf7,0px 0px 10px #318bf7,0px 0px 10px #318bf7,  0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
  5%   {color: #affcf4;text-shadow:0px 0px 5px #318bf7,0px 0px 10px #318bf7,0px 0px 10px #318bf7, 0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
  6%   {color: #000;text-shadow: none;}
  12%  {color: #000;text-shadow: none;}
  13%  {color: #affcf4;text-shadow:0px 0px 5px #318bf7,0px 0px 10px #318bf7,0px 0px 10px #318bf7,  0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
  25%  {color: #affcf4;text-shadow:0px 0px 5px #318bf7,0px 0px 10px #318bf7,0px 0px 10px #318bf7,  0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
  26%  {color: #000;text-shadow: none;}
  30%  {color: #000;text-shadow: none;}
  31%  {color: #affcf4;text-shadow:0px 0px 5px #318bf7,0px 0px 10px #318bf7,0px 0px 10px #318bf7,  0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
  100% {color: #affcf4;text-shadow:0px 0px 5px #318bf7,0px 0px 10px #318bf7,0px 0px 10px #318bf7, 0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
}

/* RESPONSIVE */

@media (max-width: 480px) {
  .nav-cart {
    margin-top: 280px;
  }

  .product .sold-out {
    margin-left: 50px;
    margin-right: 50px;
  }
}
